<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <add key="Nexus_v3" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <apikeys>
  </apikeys>
  <activePackageSource>
    <add key="Nexus_v3" value="true" />
  </activePackageSource>
  <disabledPackageSources>
  </disabledPackageSources>
  <packageSourceCredentials>
  </packageSourceCredentials>
</configuration>